

<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="user-profile-card">
  <div class="user-profile-content">
    <p>
      <strong>Name:</strong> <%= @user.name %>
    </p>
    <p>
      <strong>Email:</strong> <%= @user.email %>
    </p>
  </div>
</div>
