<h1>Reviews</h1>

<%= link_to "New review", new_book_review_path(@book), class: "btn btn-primary" %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><strong>Comment:</strong> <%= review.comment %></p>
      <p><strong>Rating:</strong> <%= review.rating %></p>
      <%= link_to "Show", book_review_path(@book, review) %>
    </li>
  <% end %>
</ul>
